

.container-sac {
    background-image: url('./img/back.png');
    background-size: cover;
    height: 1400px;
}

.sac-img img {
    width: 100%;
}

.container-sac h2 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
    color: #ff0323;
}

.container-sac h3 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

@media screen and (max-width: 730px) {

    .container-sac {
        padding-top: 70px;
        height: 1100px;
    }

    .container-sac h2 {
        font-size: 30px;
    }

    .container-sac h3 {
        font-size: 25px;
        margin-bottom: -40px;
    }
}