.trabalhe {
    background-image: url('./img/backblack.png');
    background-size: cover;
    height: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trabalhe-img {
width: 80%;
margin: 10%;
margin-top: 50px;
border-radius: 20px;
}
.trabalhe-img img {
    width: 100%;
    height: 90%;
    border-radius: 20px;
}

.trabalhe-img h1 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    margin-top: -250px;
    margin-left: 400px;
    width: 900px;
    text-shadow: 0 0 8px black;
}

.trabalhe-img h2 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 8px black;
    margin-left: 220px;
}

.trabalhe-img button {
    width: 150px;
    height: 40px;
    margin-left: 720px;
    border: 3px solid white;
    background: #0ec244;
    font-family: Poppins;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
}
.trabalhe-img button:hover {
    text-shadow: 0 0 8px;
}
.wicon {
    font-size: 20px;
    margin-right: 5px;
}



@media screen and (max-width: 730px) {

    .trabalhe {
        height: 1200px;
    }
    
   
    .trabalhe-img {
       width: 90%;
       margin-left: 5%;
       margin-top: -80px;
    }
    .formgrande {
        margin-top: 80px;
    }
    

    .trabalhe-img h1 {
        width: 300px;
        font-size: 25px;
        margin-top: -250px;
        margin-left: 40px;
        text-align: center;
    }

    .trabalhe-img h2 {
        font-size: 18px;
        margin-left: 160px;
        margin-top: 50px;
    }


    .trabalhe-img button {
        width: 150px;
        height: 50px;
        margin-left: 200px;
        margin-top: 0px;
        border: 3px solid white;
        background: #0ec244;
        border-radius: 10px;
        font-family: Poppins;
        font-weight: bold;
        color: #fff;
    }

    .wicon {
        font-size: 30px;
        color: #fff;
        margin-right: 5px;
    }
}