 

.carousel-1 h1 {
    margin-bottom: 40px;
}    

.tudo-sobre {
    overflow: hidden;
}

.sobre {
    width: 100%;
    height: 2000px;
    background-image: url('./img//back.png');
    background-size: cover;
}

.sobre h1 {
    text-align: center;
    padding-top: 30px;
    font-family: Poppins;
    font-weight: bold;
}

.sobreimg {
    width: 750px;
    height: 450px;
    border: 3px solid red;
    margin-left: 300px;
    border-radius: 20px;
    margin-top: 30px;

}

.container-sobre p {
    width: 80%;
    text-align: center;
    margin-left: 125px;
    padding-top: 50px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
}

.container-sobre img {
    width: 95%;
    margin-left: 17px;
    margin-top: 23px;
    border-radius: 20px;
}

.container-cards {
    display: flex;
    justify-content: center;
    margin-right: 100px;
    margin-top: 50px;
}

.infocards {
    width: 300px;
}

.infocards img {
    width: 400px;
    margin-top: 30px;
}

.infocards h1 {
    margin-top: -280px;
    margin-left: 120px;
    font-family: Poppins;
    color: #fff;
}

.infocards p {
    margin-left: 100px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 14px;
    width: 200px;
    color: #fff;
    text-align: center;
}

.infocards2 {
    width: 300px;
}

.infocards2 img {
    width: 400px;
    margin-top: 30px;
}

.infocards2 h1 {
    margin-top: -280px;
    margin-left: 120px;
    font-family: Poppins;
    color: #fff;
}

.infocards2 p {
    margin-left: 105px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 15px;
    width: 200px;
    color: #fff;
    text-align: center;
}

.infocards3 {
    width: 300px;
}

.infocards3 img {
    width: 400px;
    margin-top: 30px;
}

.infocards3 h1 {
    margin-top: -280px;
    margin-left: 110px;
    font-family: Poppins;
    color: #fff;
}

.infocards3 p {
    margin-left: 100px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 15px;
    width: 200px;
    color: #fff;
    text-align: center;
}

.mapa {
    display: flex;
    margin-left: -100px;
    margin-top: 50px;
}

.mapa img {
    width: 1000px;
    height: 500px;
    margin-left: 200px;
    margin-top: 55px;
    transform: scale(1.2);
}

.mapa p {
    font-family: Poppins;
    margin-left: -500px;
    width: 700px;
    text-align: end;
    font-size: 21px;
    font-weight: 600;
}

/* ===================== RESPONSIVO ==================== */

@media  screen and (max-width: 730px) {

    .tudo-sobre {
        overflow: hidden;
    }
    
    .sobre {
        height: 2600px;
    }

    .container-sobre p {
        font-size: 12px;
        margin-left: 40px;
    }    

    .sobreimg  {
        width: 50%;
        margin-left: 5%;
        width: 90%;
        height: 220px;
    }

    .sobreimg img {
        margin-left: 10px;
    }

    .container-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

    .infocards h1 {
        margin-left: 150px;
    }

    .infocards2 {
        margin-top: 20px;
        flex: 2;
    }

    .infocards2 h1 {
        margin-left: 165px;
    }

    .infocards3 {
        margin-top: 65px;
    }

    .infocards3 h1 {
        margin-left: 150px;
    }

    .p {
        width: 350px;
        height: 400px;
        background: rgba(0, 0, 0, 0.521);
        margin-left: -630px;
        margin-top: 100px;
        font-size: 13px;
        color: #fff;
        text-align: center;
        border-radius: 10px;
    }

    .p p {
        font-size: 13px;
        width: 300px;
        margin-left: 10px;
        margin-top: 30px;
    }

    .mapa {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: -5%;
    }

}