.tion-1 {
    position: absolute;
    top: 40%;
    margin-left: 680px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* cor do texto */
    width: 1200px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}

.tion-1 h2 {
    font-family: Poppins;
    font-weight: bold;
    margin-top: 35px;
    font-size: 50px;
    text-shadow: 0 0 8px black;
    margin-left: 20px;
}

.tion-1 button {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: #db070e;
    color: #fff;
    margin-top: 0px;
    font-family: Poppins;
    font-weight: 600;
    margin-left: 35px;
}
.tion-2 {
    position: absolute;
    top: 40%;
    margin-left: 680px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* cor do texto */
    width: 1200px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}

.tion-2 h2 {
    font-family: Poppins;
    font-weight: bold;
    margin-top: 30px;
    font-size: 50px;
    text-shadow: 0 0 8px black;
    margin-left: 10px;
}

.tion-2 button {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: #db070e;
    color: #fff;
    margin-top: 0px;
    font-family: Poppins;
    font-weight: 600;
    margin-left: 30px;
}
.tion-3 {
    position: absolute;
    top: 40%;
    margin-left: 680px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* cor do texto */
    width: 1200px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}

.tion-3 h2 {
    font-family: Poppins;
    font-weight: bold;
    margin-top: 0px;
    font-size: 50px;
    text-shadow: 0 0 8px black;
    margin-left: 30px;
}

.tion-3 button {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: #db070e;
    color: #fff;
    margin-top: 0px;
    font-family: Poppins;
    font-weight: 600;
    margin-left: 30px;
}

.tudo-sobre {
    overflow: hidden;
    background: #1a1a1a;
}

.sobre {
    width: 100%;
    height: 2320px;
    background-image: url('./img//backblack.png');
    background-size: cover;
}

.sobre h1 {
    text-align: center;
    padding-top: 30px;
    font-family: Poppins;
    font-weight: bold;
    color: #fff;
}

.sobreimg {
    width: 750px;
    height: 450px;
    border: 3px solid red;
    margin-left: 300px;
    border-radius: 20px;
    margin-top: 30px;

}

.container-sobre p {
    width: 80%;
    text-align: justify;
    margin-left: 125px;
    padding-top: 50px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}

.container-sobre img {
    width: 95%;
    margin-left: 17px;
    margin-top: 23px;
    border-radius: 20px;
}

.container-cards {
    display: flex;
    justify-content: center;
    margin-right: 100px;
    margin-top: 50px;
}

.infocards {
    width: 300px;
}

.infocards img {
    width: 400px;
    margin-top: 30px;
}

.infocards h1 {
    margin-top: -280px;
    margin-left: 120px;
    font-family: Poppins;
    color: #fff;
}

.infocards p {
    margin-left: 100px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 14px;
    width: 200px;
    color: #fff;
    text-align: center;
}

.infocards2 {
    width: 300px;
}

.infocards2 img {
    width: 400px;
    margin-top: 30px;
}

.infocards2 h1 {
    margin-top: -280px;
    margin-left: 120px;
    font-family: Poppins;
    color: #fff;
}

.infocards2 p {
    margin-left: 105px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 15px;
    width: 200px;
    color: #fff;
    text-align: center;
}

.infocards3 {
    width: 300px;
}

.infocards3 img {
    width: 400px;
    margin-top: 30px;
}

.infocards3 h1 {
    margin-top: -280px;
    margin-left: 110px;
    font-family: Poppins;
    color: #fff;
}

.infocards3 p {
    margin-left: 100px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 15px;
    width: 200px;
    color: #fff;
    text-align: center;
}

.mapa {
    display: flex;
    margin-left: -100px;
    margin-top: 50px;
}

.mapa img {
    width: 1000px;
    height: 500px;
    margin-left: 200px;
    margin-top: 55px;
    transform: scale(1.2);
}

.mapa p {
    font-family: Poppins;
    margin-left: -500px;
    width: 700px;
    text-align: justify;
    font-size: 21px;
    font-weight: 600;
    color: #fff;
}

.p p {
    margin-top: 55px;
}
/* ===================== RESPONSIVO ==================== */

@media  screen and (max-width: 730px) {

    .tudo-sobre {
        overflow: hidden;
    }
    
    .sobre {
        height: 2700px;
    }
    .sobre h1 {
        margin-top: 60px;
    }

    .container-sobre p {
        font-size: 12px;
        margin-left: 40px;
        margin-top: -20px;
    }    

    .sobreimg  {
        width: 50%;
        margin-left: 5%;
        width: 90%;
        height: 220px;
    }

    .sobreimg img {
        margin-left: 10px;
    }

    .container-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

    .infocards h1 {
        margin-left: 110px;
        margin-top: -260px;

    }

    .infocards2 {
        margin-top: 20px;
        flex: 2;
    }

    .infocards2 h1 {
        margin-left: 110px;
        margin-top: -260px;
    }

    .infocards3 {
        margin-top: 15px;
    }

    .infocards3 h1 {
        margin-left: 110px;
        margin-top: -260px;
    }

    .p {
        width: 300px;
        height: 400px;
        background: rgba(0, 0, 0, 0.733);
        margin-left: -100px;
        margin-top: 100px;
        font-size: 13px;
        color: #fff;
        text-align: center;
        border-radius: 10px;
        position: absolute;
    }

    .p p {
        font-size: 12px;
        width: 250px;
        margin-left: 25px;
        margin-top: 20px;
        z-index: 2;
        position: absolute;
        text-align: justify;
    }
    .container-mapa {
        margin-top: 100px;
    }
    .mapa {
        display: flex;
        justify-content: center;
        width: 40%;
        margin-left: 160px;
    }
    .mapa img {
        margin-left: 400px;
    }
    .tion-1 {
        position: absolute;
        top: 50%;
        margin-left: 7.4%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white; /* cor do texto */
        margin-top: 20px;
        width: 300px;
        height: 140px;
    }
    .tion-1 h2 {
        font-family: Poppins;
        font-size: 22px;
        color: #fff;
        margin-top: 0px;
        margin-left: 10px;
        margin-bottom: 15px;
    }
    .tion-1 button {
        width: 150px;
        height: 40px;
        border-radius: 10px;
        border: none;
        color: #fff;
        font-size: 17px;
        font-family: Poppins;
        font-weight: 600;
        margin-left: 42%;
    }
    .tion-2 {
        position: absolute;
        top: 50%;
        margin-left: 7.4%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white; /* cor do texto */
        margin-top: 20px;
        width: 300px;
        height: 140px;
    }
    .tion-2 h2 {
        font-family: Poppins;
        font-size: 22px;
        color: #fff;
        margin-top: 0px;
        margin-left: 12px;
        margin-bottom: 15px;
    }
    .tion-2 button {
        width: 150px;
        height: 40px;
        border-radius: 10px;
        border: none;
        color: #fff;
        font-size: 17px;
        font-family: Poppins;
        font-weight: 600;
        margin-left: 42%;
    }
    .tion-3 {
        position: absolute;
        top: 50%;
        margin-left: 7.4%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white; /* cor do texto */
        margin-top: 20px;
        width: 300px;
        height: 140px;
    }
    .tion-3 h1 {
        font-family: Poppins;
        font-size: 19px;
        color: #fff;
        margin-top: -30px;
        margin-left: 5px;
        margin-bottom: 15px;
    }
    .tion-3 button {
        width: 150px;
        height: 40px;
        border-radius: 10px;
        border: none;
        color: #fff;
        font-size: 17px;
        font-family: Poppins;
        font-weight: 600;
        margin-left: 42%;
    }
}