
.cargas {
    background-image: url('../Categorias/img/backblack.png');
    width: 100%;
    height: 1500px;
}

@media screen and (max-width: 730px) {
    

    .cargas {
        margin-top: 0;
        width: 100%;
        height: 2620px;
        overflow: hidden;
    }

    .App {
        display: flex;
        flex-direction: column-reverse;
    }

    .search-container {
        display: none;
    }

    .categorias-containers {
        margin-left: -260px;
    }
    
    .lista-categorias {
        margin-left: 300px;
    }

    .produtos {
        margin-left: 80px;
    }

    .line12 {
        display: flexbox;
        flex-direction: column;
    }

    .divprod61 {
        width: 300px;
        height: 300px;
        background: #fff;
        margin-left: -5%;
        margin-top: 50px;
        border-radius: 10px 10px 0 0;
    }   
    
    .divprod61 img {
        width: 80%;
        margin-left: 30px;
        margin-top: 55px;
    }
    
    .divprod61 button {
        width: 100%;
        height: 40px;
        margin-top: 5px;
        border: none;
        background: rgba(0, 0, 0, 0.541);
        color: #fff;
        font-family: Poppins;
        font-weight: 600;
        font-size: 20px;
    }
    .divprod62 {
        width: 300px;
        height: 300px;
        background: #fff;
        margin-left: -5%;
        margin-top: 50px;
        border-radius: 10px 10px 0 0;
    }   
    
    .divprod62 img {
        width: 80%;
        margin-left: 30px;
        margin-top: 25px;
    }
    
    .divprod62 button {
        width: 100%;
        height: 40px;
        margin-top: 10px;
        border: none;
        background: rgba(0, 0, 0, 0.541);
        color: #fff;
        font-family: Poppins;
        font-weight: 600;
        font-size: 20px;
    }
    .divprod63 {
        width: 300px;
        height: 300px;
        background: #fff;
        margin-left: -5%;
        margin-top: 50px;
        border-radius: 10px 10px 0 0;
    }   
    
    .divprod63 img {
        width: 80%;
        margin-left: 30px;
        margin-top: 55px;
    }
    
    .divprod63 button {
        width: 100%;
        height: 40px;
        margin-top: 5px;
        border: none;
        background: rgba(0, 0, 0, 0.541);
        color: #fff;
        font-family: Poppins;
        font-weight: 600;
        font-size: 20px;
    }
    .divprod64 {
        width: 300px;
        height: 300px;
        background: #fff;
        margin-left: -5%;
        margin-top: 50px;
        border-radius: 10px 10px 0 0;
    }   
    
    .divprod64 img {
        width: 80%;
        margin-left: 30px;
        margin-top: 55px;
    }
    
    .divprod64 button {
        width: 100%;
        height: 40px;
        margin-top: 30px;
        border: none;
        background: rgba(0, 0, 0, 0.541);
        color: #fff;
        font-family: Poppins;
        font-weight: 600;
        font-size: 20px;
    }

    
}