
.compactador {
    background-image: url('../Categorias/img/backblack.png');
    width: 100%;
    height: 1400px;
}

@media screen and (max-width: 730px) {
    

    .compactador {
        margin-top: 0;
        width: 100%;
        height: 2500px;
        overflow: hidden;
    }

    .App {
        display: flex;
        flex-direction: column-reverse;
    }

    .search-container {
        display: none;
    }

    .categorias-containers {
        margin-left: -260px;
    }
    
    .lista-categorias {
        margin-left: 300px;
    }

    .produtos {
        margin-left: 80px;
    }

    .line3 {
        display: flexbox;
        flex-direction: column;
        margin-top: 10px;
    }

    .divprod16 {
        width: 300px;
        height: 300px;
        background: #fff;
        margin-left: -5%;
        margin-top: 50px;
        border-radius: 10px 10px 0 0;
    }   
    
    .divprod16 img {
        width: 80%;
        margin-left: 30px;
        margin-top: 65px;
    }
    
    .divprod16 button {
        width: 100%;
        height: 40px;
        margin-top: 55px;
        border: none;
        background: rgba(0, 0, 0, 0.541);
        color: #fff;
        font-family: Poppins;
        font-weight: 600;
        font-size: 20px;
    }

    .divprod17 {
        width: 300px;
        height: 300px;
        background: #fff;
        margin-left: -5%;
        margin-top: 50px;
        border-radius: 10px 10px 0 0;
    }   
    
    .divprod17 img {
        width: 80%;
        margin-left: 30px;
        margin-top: 35px;
    }
    
    .divprod17 button {
        width: 100%;
        height: 40px;
        margin-top: 25px;
        border: none;
        background: rgba(0, 0, 0, 0.541);
        color: #fff;
        font-family: Poppins;
        font-weight: 600;
        font-size: 20px;
    }

    .divprod18 {
        width: 300px;
        height: 300px;
        background: #fff;
        margin-left: -5%;
        margin-top: 50px;
        border-radius: 10px 10px 0 0;
    }   
    
    .divprod18 img {
        width: 80%;
        margin-left: 30px;
        margin-top: 35px;
    }
    
    .divprod18 button {
        width: 100%;
        height: 40px;
        margin-top: 25px;
        border: none;
        background: rgba(0, 0, 0, 0.541);
        color: #fff;
        font-family: Poppins;
        font-weight: 600;
        font-size: 20px;
    }

    .divprod19 {
        width: 300px;
        height: 300px;
        background: #fff;
        margin-left: -5%;
        margin-top: 50px;
        border-radius: 10px 10px 0 0;
    }   
    
    .divprod19 img {
        width: 80%;
        margin-left: 30px;
        margin-top: 35px;
    }
    
    .divprod19 button {
        width: 100%;
        height: 40px;
        margin-top: 25px;
        border: none;
        background: rgba(0, 0, 0, 0.541);
        color: #fff;
        font-family: Poppins;
        font-weight: 600;
        font-size: 20px;
    }

    .divprod20 {
        width: 300px;
        height: 300px;
        background: #fff;
        margin-left: -10%;
        margin-top: 50px;
        border-radius: 10px 10px 0 0;
    }   
    
    .divprod20 img {
        width: 80%;
        margin-left: 30px;
        margin-top: 35px;
    }
    
    .divprod20 button {
        width: 100%;
        height: 40px;
        margin-top: 15px;
        border: none;
        background: rgba(0, 0, 0, 0.541);
        color: #fff;
        font-family: Poppins;
        font-weight: 600;
        font-size: 20px;
    }

}