
.terraplanagem {
    background-image: url('../Categorias/img/backblack.png');
    background-size: cover;
    width: 100%;
    height: 1500px;
}

@media screen and (max-width: 730px) {
    

    .terraplanagem {
        margin-top: 0;
        width: 100%;
        height: 2250px;
        overflow: hidden;
    }

    .App {
        display: flex;
        flex-direction: column-reverse;
    }

    .search-container {
        display: none;
    }

    .categorias-containers {
        margin-left: -260px;
    }
    
    .lista-categorias {
        margin-left: 300px;
    }

    .produtos {
        margin-left: 80px;
    }

    .line12 {
        display: flexbox;
        flex-direction: column;
    }

    .divprod66 {
        width: 300px;
        height: 300px;
        background: #fff;
        margin-left: -5%;
        margin-top: 50px;
        border-radius: 10px 10px 0 0;
    }   
    
    .divprod66 img {
        width: 80%;
        margin-left: 30px;
        margin-top: 90px;
    }
    
    .divprod66 button {
        width: 100%;
        height: 40px;
        margin-top: 75px;
        border: none;
        background: rgba(0, 0, 0, 0.541);
        color: #fff;
        font-family: Poppins;
        font-weight: 600;
        font-size: 20px;
    }

    .divprod67 {
        width: 300px;
        height: 300px;
        background: #fff;
        margin-left: -5%;
        margin-top: 50px;
        border-radius: 10px 10px 0 0;
    }   
    
    .divprod67 img {
        width: 80%;
        margin-left: 30px;
        margin-top: 75px;
    }
    
    .divprod67 button {
        width: 100%;
        height: 40px;
        margin-top: 45px;
        border: none;
        background: rgba(0, 0, 0, 0.541);
        color: #fff;
        font-family: Poppins;
        font-weight: 600;
        font-size: 20px;
    }

    .divprod68 {
        width: 300px;
        height: 300px;
        background: #fff;
        margin-left: -5%;
        margin-top: 50px;
        border-radius: 10px 10px 0 0;
    }   
    
    .divprod68 img {
        width: 80%;
        margin-left: 30px;
        margin-top: 75px;
    }
    
    .divprod68 button {
        width: 100%;
        height: 40px;
        margin-top: 45px;
        border: none;
        background: rgba(0, 0, 0, 0.541);
        color: #fff;
        font-family: Poppins;
        font-weight: 600;
        font-size: 20px;
    }

}