
.torre {
    background-image: url('../Categorias/img/backblack.png');
    background-size: cover;
    width: 100%;
    height: 1500px;
}

@media screen and (max-width: 730px) {
    

    .torre {
        margin-top: 0;
        width: 100%;
        height: 1600px;
        overflow: hidden;
    }

    .App {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
        transform: scale(0.85);
        margin-top: -320px;
    }

    .search-container {
        display: none;
    }

    .categorias-containers {
        margin-left: -260px;
    }
    
    .lista-categorias {
        margin-left: 300px;
    }

    .produtos {
        margin-left: 80px;
    }

    .line12 {
        display: flexbox;
        flex-direction: column;
    }

    .divprod69 {
        width: 300px;
        height: 300px;
        background: #fff;
        margin-left: -5%;
        margin-top: 50px;
        border-radius: 10px 10px 0 0;
    }   
    
    .divprod69 img {
        width: 80%;
        margin-left: 30px;
        margin-top: 35px;
    }
    
    .divprod69 button {
        width: 100%;
        height: 40px;
        margin-top: 25px;
        border: none;
        background: rgba(0, 0, 0, 0.541);
        color: #fff;
        font-family: Poppins;
        font-weight: 600;
        font-size: 20px;
    }

}