
/* Fontes do Site */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cinzel:wght@400..900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jost:ital,wght@0,100..900;1,100..900&family=Righteous&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bebas+Neue&family=Cinzel:wght@400..900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jost:ital,wght@0,100..900;1,100..900&family=Righteous&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 0; 
}
::-webkit-scrollbar-thumb {
    background-color: transparent; 
}
/* Components CSS */
/* ---------------------------*/

/* Carousel */

button a {
    text-decoration: none;
    color: #fff;
    font-family: Poppins;
    font-weight: bold;
}

.carousel {
    width: 100%;
    height: 500px;
}
.img1, .img2, .img3 {
    width: 100%;
    height: 500px;
}

.caption-1 {
    position: absolute;
    top: 50%;
    margin-left: 680px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* cor do texto */
    background: rgba(0, 0, 0, 0.541);
    width: 1200px;
    height: 400px;
}

.caption-1 h2 {
    font-family: Poppins;
    font-weight: 600;
    margin-top: 100px;
    font-size: 40px;
}

.caption-1 h3 {
    font-family: Poppins;
    font-weight: 600;
    margin-top: 100px;
    font-size: 30px;
    margin-bottom: 20px;
}

.caption-1 h4 {
    font-family: Poppins;
    font-weight: 600;
    margin-top: 100px;
    font-size: 30px;
    margin-bottom: 20px;
}


.caption-1 button {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: rgb(211, 2, 2);
    color: #fff;
    margin-top: 20px;
    font-family: Poppins;
    font-weight: 600;
}

.caption-2 {
    position: absolute;
    top: 50%;
    margin-left: 680px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* cor do texto */
    background: rgba(0, 0, 0, 0.541);
    width: 1200px;
    height: 400px;
}

.caption-2 h1 {
    font-family: Poppins;
    font-weight: 600;
    margin-top: 100px;
}

.caption-2 button {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: rgb(211, 2, 2);
    color: #fff;
    margin-top: 20px;
    font-family: Poppins;
    font-weight: 600;
}
.caption-3 {
    position: absolute;
    top: 50%;
    margin-left: 680px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* cor do texto */
    background: rgba(0, 0, 0, 0.541);
    width: 1200px;
    height: 400px;
}

.caption-3 h1 {
    font-family: Poppins;
    font-weight: 600;
    margin-top: 100px;
}

.caption-3 button {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: rgb(211, 2, 2);
    color: #fff;
    margin-top: 20px;
    font-family: Poppins;
    font-weight: 600;
}


/* Home Respinsivo */
@media screen and (max-width: 730px) {

    .caption-1 {
        margin-top: 20px;
        width: 300px;
        height: 140px;
        background: rgba(0, 0, 0, 0.541);
    }
    
   
    .carousel {
        width: 100%;
        height: 250px;
    }
        
    .img1, .img2, .img3, .img4 {
        display: flex;
        width: 100%;
        height: 260px;
    }

    .caption-1 {
        position: absolute;
        top: 50%;
        margin-left: 200px;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white; /* cor do texto */
        margin-top: 20px;
        width: 300px;
        height: 140px;
        background: rgba(0, 0, 0, 0.541);
    }

    .caption-1 h2 {
        font-family: Poppins;
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 35px;
    }

    .caption-1 h4 {
        margin-top: 30px;
        font-size: 18px;
        /* width: 250px; */
    }

    .caption-1 h3 {
        margin-top: 30px;
        font-size: 18px;
    }

    .caption-1 button {
        width: 120px;
        height: 40px;
        border-radius: 10px;
        border: none;
        background: rgb(211, 2, 2);
        color: #fff;
        font-size: 17px;
        font-family: Poppins;
        font-weight: 600;
        /* display: none; */
    }

    .caption-2 {
        position: absolute;
        top: 50%;
        margin-left: 200px;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white; /* cor do texto */
        margin-top: 20px;
        width: 300px;
        height: 140px;
        background: rgba(0, 0, 0, 0.541);
    }

    .caption-2 h1 {
        font-family: Poppins;
        font-size: 20px;
        color: #fff;
        margin-top: 30px;
    }

    .caption-2 button {
        width: 120px;
        height: 40px;
        border-radius: 10px;
        border: none;
        background: rgb(211, 2, 2);
        color: #fff;
        font-size: 17px;
        font-family: Poppins;
        font-weight: 600;
        margin-top: 20px;
    }

    .caption-3 {
        position: absolute;
        top: 50%;
        margin-left: 200px;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white; /* cor do texto */
        margin-top: 20px;
        width: 300px;
        height: 140px;
        background: rgba(0, 0, 0, 0.541);
    }

    .caption-3 h1 {
        font-family: Poppins;
        font-size: 18px;
        color: #fff;
        margin-top: 30px;
    }
    .caption-3 button {
        width: 120px;
        height: 40px;
        border-radius: 10px;
        border: none;
        background: rgb(211, 2, 2);
        color: #fff;
        font-size: 17px;
        font-family: Poppins;
        font-weight: 600;
        margin-top: 20px;
    }
}

/* Header */


.logo {
    width: 70px;
    height: 30px;
    margin-left: 40px;
    /* transform: scale(1.8); */
}
.nav-list {
    margin-top: 0px;
    font-weight: 600;
}

nav {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 70px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}
ul li {
    display: inline-block; 
    margin-right: 20px;
}
a {
    color: black;
    font-weight: 600;
    font-family: Jost;
    font-size: 17px;
}

.mobile-menu-icon {
    display: none;
    position: fixed;
    top: 12px;
    right: 20px;
    z-index: 1000; /* Garante que o botão do menu esteja acima de outros elementos */
}

.mobile-menu {
    display: none;
}

/* Header ~ Responsivo */

@media screen and (max-width: 730px) {

    header {
        margin-top: 0px;
    }

    nav {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        position: fixed;
        z-index: 1000;
        width: 100%;
    }
    .nav-list{
        z-index: 1000;
        background: #fff;
        width: 100vh;
        font-size: 20px;
        position: fixed;
        z-index: 1000;
    }

    .logo {
        margin-bottom: 5px;
        margin-right: 300px;
        margin-top: 10px;
    }

    .nav-bar {
        padding: 0.5rem 4rem;
        display: flex;
        flex-direction: column;
        margin-top: -1px;
        /* margin-right: 300px; */
    }

    .nav-item {
        display: block;
    }

    .mobile-menu-icon {
        display: block;
        margin-top: 10px; /* Adicione margem superior para separar do logo */
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        background: #D41E25;
        border-radius: 5px;
    }
    .nav-list-open {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-bottom: 1rem;
        margin-left: 200px;
        width: 300px;
    }

    .nav-list-open .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .nav-list-open {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu button {
        width: 100%;
    }

    .nav-list-closed {
        display: none;
    }
    .nav-link {
        font-size: 25px;
        font-family: Jost;
        font-weight: 600;
        margin-left: 50px;
    }
}

/* Hero */

.carousel {
   background: #D41E25;
}
.img1 {
    width: 100%;
    height: 90vh;
}
.img2 {
    width: 100%;
    height: 90vh;
}
.img3 {
    width: 100%;
    height: 90vh;
}
.img4 {
    width: 100%;
    height: 90vh;
}
.btn-carousel-1 {
    height: 40px;
    width: 120px;
    margin-top: 200px;
}

/* Footer */

.footer {
    width: 100vh;
    height: 300px;
    background: #FFF;
    display: flex;
}

.fp1 {
    margin-left: 5%;
    margin-top: 1%;
}

.fp1 img {
    width: 200px;
    height: 80px;
    margin: 20px;
}

.fp1 p {
    font-family: Jost;
    font-size: 15px;
    width: 200px;
    margin-left: 20px;
}

.fp2 {
    margin-left: 100px;
}

.fp2 h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 25px;
    margin-top: 20px;
}

.flinks a {
    display: block;
    font-family: Poppins;
    font-size: 15px;
    text-decoration: none;
}

.fp3 {
    margin-left: 100px;
}

.fp3-title {
    margin-bottom: 20px;
}

.fp3 h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 25px;
    margin-top: 20px;
}

.local {
    display: flex;
    flex-direction: column;
}

.local a {
    width: 250px;
}

.local h1 {
    font-family: Poppins;
    font-size: 10px;
    margin-top: -10px;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.local p {
    font-family: Poppins;
    font-size: 8px;
    margin-top: -5px;
}

.fp4 {
    margin-left: 10%;
}

.fp4-contatos {
    display: block;
    align-items: center; /* Alinha os itens verticalmente ao centro */
}

.fp4-contatos div {
    margin-right: 20px; /* Espaçamento entre os elementos */
}

.fp4-telefone {
    display: flex;
    margin-top: 20px;
}

.fp4-telefone h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 30px;
    margin-left: 10px;
}

.fp4-telefone i {
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
    font-size: 30px;
}

.fp4-email {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente ao centro */
    width: 350px;
    margin-top: 20px;
}

.fp4-email h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    margin-left: 10px;
}

.fp4-email i {
    margin-top: -10px;
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
    font-size: 30px;
}

.fp4-funcionamento {
    display: flex;
    margin-top: 20px;
}

.fp4-funcionamento h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 5px;
}

.fp4-funcionamento i {
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
    font-size: 30px;
}

.fp4-icons {
    margin-left: -4%;
    margin-top: 5%;
    letter-spacing: 10px;
}

.fa-brands {
    font-size: 30px;
    margin-left: 20px;
    margin-top: 10px;
}

.agencia {
    background-color: #fff;
    color: #9c9c9c;
    height: 40px;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.226);
    
}

  .copyright {
    font-size: 14px;
    padding-top: 10px;
    font-family: Poppins;
}


/* Formulario */

  .form-control {
    font-family: Poppins;
    font-weight: 600;
    font-size: 12px;
  }


  .contato-h1 {
    font-family: Poppins;
    font-weight: 600;
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
  }

  .form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    
  }
  
  .form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-family: Poppins;
  }
  
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-container textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .form-container button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Poppins;
  }
  
  .form-container button:hover {
    background-color: #0056b3;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .social-icons a {
    margin: 0 10px;
    font-size: 25px;
    text-decoration: none;
    margin-bottom: 20px;
    font-family: Poppins;
  }
  
  .social-icons a i {
    vertical-align: middle;
  }
  .wsp-ico {
    color: green;
  }
  .insta-ico {
    color: #833AB4 ;
  }


  /* Footer */

.dark-footer {
    background-color: #fff;
    color: #9c9c9c;
    height: 40px;
    text-align: center;
    
  }  
  .copyright {
    font-size: 14px;
    padding-top: 10px;
  }

  .fp1 p {
    width: 240px;
  }

.flinks a {
    text-decoration: none;
    font-size: 10px;
}

/* Footer - Responsivo */

@media screen and (max-width: 730px) {

.footer {
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: column;
}

.fp1 {
    display: flex;
    margin-left: 15%;
}

.fp1 img {
    width: 130px;
    height: 70px;
    margin-top: 30px;
    margin-left: -30px;
}

.fp1 p {
    width: 180px;
    margin-left: 10px;
    margin-top: 20px;
}

.fp2 {
    margin-top: 120px;
    margin-left: -90%;
    display: flex;
    flex-direction: column;
    display: none;
}

.fp3 {
  
    margin-left: 30px;
}

.fp4 {
   margin-left: 30px;
}

.fp4-email h1 {
    font-size: 15px ;
}

.fp4-icons {
    width: 400px;
    margin-top: 20px;
    margin-left: -15px;
}

.fa-brands {
    margin-left: 20px;
    margin-right: 10px;
}

.local h1 {
    font-size: 12px;
}




.form-container {
    width: 80%;
}
.social-icons {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: 40px;
}
.social-icons a {
    font-size: 18px;
}

}
