
/* Fontes do Site */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cinzel:wght@400..900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jost:ital,wght@0,100..900;1,100..900&family=Righteous&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bebas+Neue&family=Cinzel:wght@400..900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jost:ital,wght@0,100..900;1,100..900&family=Righteous&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Poppins;
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 0; 
}
::-webkit-scrollbar-thumb {
    background-color: transparent; 
}
/* Components CSS */
/* ---------------------------*/

/* Carousel */

button a {
    text-decoration: none;
    color: #fff;
    font-family: Poppins;
    font-weight: bold;
}

.carousel {
    width: 100%;
    height: 500px;
}
.next {
    margin-top: -70px;
    margin-left: 100px;
}
.prev {
    margin-top: -70px;
}

.carousel a:hover {
    color: #fff;
    text-shadow: 0 0 8px;
}

.img1, .img2, .img3 {
    width: 100%;
    height: 500px;
}

.caption-1 {
    margin-top: 25px;
}

.caption-1 h2 {
    font-family: Poppins;
    font-weight: 800;
    margin-top: 100px;
    font-size: 40px;
}
.ch1 {
    padding-left: 80px;
    padding-top: 10px;
}
.c3p2 {
    padding-bottom: 20px;
}

.caption-1 h3 {
    font-family: Poppins;
    font-weight: 600;
    margin-top: 100px;
    font-size: 30px;
    margin-bottom: 20px;
}

.caption-1 h4 {
    font-family: Poppins;
    font-weight: 600;
    margin-top: 0px;
    font-size: 48px;
    text-shadow: 0 0 8px black;
}


.caption-1 button {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: #D41E25;
    color: #fff;
    margin-top: 20px;
    font-family: Poppins;
    font-weight: 600;
}

.caption-2 {
    position: absolute;
    top: 50%;
    margin-left: 680px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* cor do texto */
    width: 1200px;
    height: 400px;
    margin-top: 25px;
}

.caption-2 h1 {
    font-family: Poppins;
    font-weight: bold;
    margin-top: 100px;
}

.caption-2 button {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: #D41E25;
    color: #fff;
    margin-top: 20px;
    font-family: Poppins;
    font-weight: 600;
}
.caption-3 {
    position: absolute;
    top: 50%;
    margin-left: 680px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* cor do texto */
    width: 1200px;
    height: 400px;
    margin-top: 25px;
}

.caption-3 h1 {
    font-family: Poppins;
    font-weight: 600;
    margin-top: 100px;
}

.caption-3 button {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: #D41E25;
    color: #fff;
    margin-top: 20px;
    font-family: Poppins;
    font-weight: 600;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 34px;
    cursor: pointer;
  }
  
  .carousel-button.prev {
    left: 20px;
  }
  
  .carousel-button.next {
    right: 20px;
  }

  .seta {
    font-size: 40px;
    filter: drop-shadow(0 0 4px rgb(3, 3, 3));
    margin-top: 70px;
  }
  .seta:hover {
    color: #d41E25;
    filter: drop-shadow(0 0 4px white);
    transition: 1s;
  }
  .prev {
    margin-left: 150px;
  }
  .next {
    margin-right: 150px;
  }

.component-slider {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.cap-1 {
    position: absolute;
    top: 50%;
    margin-left: 680px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* cor do texto */
    width: 1200px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}

.cap-1 h2 {
    font-family: Poppins;
    font-weight: bold;
    margin-top: 50px;
    font-size: 60px;
    margin-left: -70px;
    text-shadow: 0 0 8px black;
}

.cap-1 button {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: #D41E25;
    color: #fff;
    margin-top: 50px;
    font-family: Poppins;
    font-weight: 600;
    margin-left: 10px;
}
.cap-2 {
    position: absolute;
    top: 50%;
    margin-left: 680px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* cor do texto */
    width: 1200px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}

.cap-2 h2 {
    font-family: Poppins;
    font-weight: bold;
    margin-top: 50px;
    font-size: 60px;
    margin-left: 20px;
    text-shadow: 0 0 8px black;
}

.cap-2 button {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: #D41E25;
    color: #fff;
    margin-top: 50px;
    font-family: Poppins;
    font-weight: 600;
    margin-left: 20px;
}
.cap-3 {
    position: absolute;
    top: 50%;
    margin-left: 680px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* cor do texto */
    width: 1200px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}

.cap-3 h1 {
    font-family: Poppins;
    font-weight: bold;
    margin-top: 50px;
    font-size: 60px;
    margin-left: 10px;
    text-shadow: 0 0 8px black;
}

.cap-3 button {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: #D41E25;
    color: #fff;
    margin-top: 50px;
    font-family: Poppins;
    font-weight: 600;
    margin-left: 10px;
}

/* CardSlider */


#container {
	height: 100vh;
	display: grid;
	place-items: center
}
#slider-container {
	height: 500px;
	width: 80%;
	max-width: 1400px;
	position: relative;
	overflow: hidden;
	padding: 20px;
    margin-right:20px;
}
#slider-container .btn {
	position: absolute;
	top: calc(50% - 30px);
	/* height: 15px;
	width: 15px;
	border-left: 8px solid #696969;
	border-top: 8px solid #696969; */
	cursor: pointer;
}
#slider-container .btn:hover {
	transform: scale(1.2);
}
#slider-container .btn.inactive {
	border-color: #282828
}
#slider-container .btn:first-of-type {
	/* transform: rotate(-55deg); */
	left: 10px
}
#slider-container .btn:last-of-type {
	/* transform: rotate(135deg); */
	right: 10px;
}
#slider-container #slider {
	display: flex;
	width: 800%;
	height: 400px;
	transition: all .5s;
}
#slider-container #slider .slide {
	height: 80%;
	margin: auto 10px;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0 0 18px;
	display: grid;
	place-items: center;
    padding: 10px;
}
#slider-container #slider .slide span {
	color: white;
	font-size: 60px;
}
@media only screen and (min-width: 1100px) {
	#slider-container #slider .slide {
		width: calc(2.5% - 20px);
	}
}
@media only screen and (max-width: 1100px) {
	#slider-container #slider .slide {
		width: calc(3.3333333% - 20px);
	}
}
@media only screen and (max-width: 900px) {
	#slider-container #slider .slide {
		width: calc(5% - 20px);
	}
}
@media only screen and (max-width: 550px) {
	#slider-container #slider .slide {
		width: calc(10% - 20px);
	}
}

.slider img {
    width: 90%;
}
.slider h1 {
    width: 150px;
    height: 40px;
    background: #1A1A1A;
    border-radius: 10px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}
.slider h1:hover {
   background: red;
}
.seta-back{
    font-size: 45px;
    color: #fff;
    margin-top: 200px;
}
.seta-back:hover {
    color: #d41E25;
    filter: drop-shadow(0 0 4px white);
}
.seta-next {
    font-size: 45px;
    color: #fff;
    margin-top: 200px;
}
.seta-next:hover {
    color: #d41E25;
    filter: drop-shadow(0 0 4px white);
}
.simg3 img {
    transform: scale(1.1);
    margin-top: 20px;
}
.simg3 h1 {
    padding-top: 30px;
}
.simg4 img {
    transform: scale(1.1);
    margin-top: 20px;
}
.simg4 h1 {
    margin-top: 30px;
    
}
.simg5 h1 {
    font-size: 25px;
    text-decoration: none;
}
.simg10 img {
    transform: scale(1.2);
    margin-top: 20px;
}
.simg10 h1 {
    margin-top: 30px;
    font-size: 20px;
}


.slide h1 {
    text-decoration: none;
    pointer-events: none;
}
/* ======== SLIDER Mobile - CSS ========= */

@media screen and (max-width: 730px) {
    
    #slider-container #slider .slide {
        height: 280px;
    }
    #slider-container #slider .slide h1 {
        font-size: 15px;
    }
    .slider h1 {
        width: 120px;
        height: 40px;
        background: #1A1A1A;
        border-radius: 10px;
        font-family: Poppins;
        font-weight: 600;
        color: #fff;
        text-decoration: none;
        text-align: center;
        padding-top: 10px;
    }

    .simg10 h1 {
        font-size: 10px;
        margin-left: 0px;
        text-align: center
    }
}

/* Home Respinsivo */
@media screen and (max-width: 730px) {

   
    .carousel {
        width: 100%;
        height: 250px;
    }
        
    .img1, .img2, .img3 {
        display: flex;
        width: 100%;
        height: 260px;
    }

    .component-slider {
       margin-right: -30px; 
       width: 115%;
       transform: scale(1.3);
    }

    .component-slider span {
        margin-left: 0px;
        margin-top: 200px;
        transform: scale(1.4);
        height: 40px;
    }
    #slider-container {
        height: 400px;
        width: 80%;
        max-width: 1400px;
        position: relative;
        overflow: hidden;
        padding: 20px;
        margin-right:20px;
    }
    .seta {
        margin-top: -440px;
        font-size: 25px;
    }

    .prev {
        margin-top: 50px;
        margin-left: 0px;
    }
    .next {
        margin-top: 50px;
        margin-right: 0px;
    }

    .seta-back {
        font-size: 35px;
        color: #D41E25;
        padding-left: 0px;
        margin-top: 0px;
    }
    .seta-back:hover {
        transition-duration: 1s;
        color: #fff;
        filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.842));
    }

    .seta-next {
        font-size: 35px;
        color: #D41E25;
        margin-right: 40px;
        margin-top: 0px;
    }
    .seta-next:hover {
        transition: 1s;
        color: #fff;
        filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.84));
    }

    .slide img {
        width: 65%;
    }

    .slide h1 {
        font-size: 20px;
        text-decoration: none;
    }
    
    .fp4 i:hover {
        color: #fff;
        filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.61));
    }
    .caption-1 {
        position: absolute;
        top: 50%;
        margin-left: 200px;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white; /* cor do texto */
        margin-top: 20px;
        width: 300px;
        height: 140px;
    }
    .caption-1 h2 {
        font-family: Poppins;
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 35px;
        margin-left: 20px;
    }
    

    .caption-1 h4 {
        margin-top: 30px;
        font-size: 18px;
        /* width: 250px; */
    }

    .caption-1 h3 {
        margin-top: 30px;
        font-size: 18px;
    }

    .caption-1 button {
        width: 120px;
        height: 40px;
        border-radius: 10px;
        border: none;
        background: #D41E25;
        color: #fff;
        font-size: 17px;
        font-family: Poppins;
        font-weight: 600;
        /* display: none; */
        margin-left: 20px;
        margin-bottom: 0px;
    }

    .caption-2 {
        position: absolute;
        top: 50%;
        margin-left: 200px;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white; /* cor do texto */
        margin-top: 20px;
        width: 300px;
        height: 140px;
    }

    .caption-2 h1 {
        font-family: Poppins;
        font-size: 20px;
        color: #fff;
        margin-top: 30px;
    }

    .caption-2 button {
        width: 120px;
        height: 40px;
        border-radius: 10px;
        border: none;
        background: #D41E25;
        color: #fff;
        font-size: 17px;
        font-family: Poppins;
        font-weight: 600;
        margin-top: 20px;
    }

    .caption-3 {
        position: absolute;
        top: 50%;
        margin-left: 200px;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white; /* cor do texto */
        margin-top: 20px;
        width: 300px;
        height: 140px;
    }

    .caption-3 h1 {
        font-family: Poppins;
        font-size: 22px;
        color: #fff;
        margin-top: 30px;
        margin-left: 0;
    }
    .caption-3 button {
        width: 120px;
        height: 40px;
        border-radius: 10px;
        border: none;
        background: #D41E25;
        color: #fff;
        font-size: 17px;
        font-family: Poppins;
        font-weight: 600;
        margin-top: 20px;
    }
    .cap-1 {
        position: absolute;
        top: 50%;
        margin-left: 7.4%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white; /* cor do texto */
        margin-top: 20px;
        width: 300px;
        height: 140px;
    }
    .cap-1 h2 {
        font-family: Poppins;
        font-size: 20px;
        color: #fff;
        margin-top: 10px;
        margin-left: -60px;
        margin-bottom: 40px;
    }
    .cap-1 button {
        width: 120px;
        height: 40px;
        border-radius: 10px;
        border: none;
        background: #D41E25;
        color: #fff;
        font-size: 17px;
        font-family: Poppins;
        font-weight: 600;
        margin-top: 10px;
        margin-left: 15px;
    }
    .cap-2 {
        position: absolute;
        top: 50%;
        margin-left: 7.4%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white; /* cor do texto */
        margin-top: 20px;
        width: 300px;
        height: 140px;
    }
    .cap-2 h2 {
        font-family: Poppins;
        font-size: 18px;
        color: #fff;
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 40px;
    }
    .cap-2 button {
        width: 120px;
        height: 40px;
        border-radius: 10px;
        border: none;
        background: #D41E25;
        color: #fff;
        font-size: 17px;
        font-family: Poppins;
        font-weight: 600;
        margin-top: -30px;
        margin-left: 10px;
    }
    .cap-3 {
        position: absolute;
        top: 50%;
        margin-left: 7.4%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white; /* cor do texto */
        margin-top: 20px;
        width: 300px;
        height: 140px;
    }
    .cap-3 h1 {
        font-family: Poppins;
        font-size: 22px;
        color: #fff;
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 0px;
    }
    .cap-3 button {
        width: 120px;
        height: 40px;
        border-radius: 10px;
        border: none;
        background: #D41E25;
        color: #fff;
        font-size: 17px;
        font-family: Poppins;
        font-weight: 600;
        margin-top: 10px;
        margin-left: 10px;
    }

    /* ========================================================== */
   
}

/* Header */

.icons-mobile {
    display: none;
}

.logo {
    width: 70px;
    height: 30px;
    margin-left: -0px;
    transform: scale(1.5);
    display: flex;
}

.nav-list {
    margin-top: 0px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-left: 100px;
}

.nav-item {
    margin-left: 20px;
    list-style-type: none;
}
.nav-item:hover {
    color: #D41E25;
    filter: drop-shadow(0 0 6px #D41E25);
}

.nav-icons {
    margin-left: 200px;
}

.nav-icons i {
    font-size: 20px;
    color: #1a1a1a;
    margin-bottom: 10px;
    letter-spacing: 10px;
}
.nav-icons i:hover {
    color: #D41E25;
    filter: drop-shadow(0 0 8px #d41E25);
}

nav {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 70px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}
ul li {
    display: inline-block; 
    margin-right: 20px;
}
a {
    color: black;
    font-weight: 600;
    font-family: Jost;
    font-size: 17px;
}

.mobile-menu-icon {
    display: none;
    position: fixed;
    top: 12px;
    right: 20px;
    z-index: 1000; /* Garante que o botão do menu esteja acima de outros elementos */
}

.mobile-menu {
    display: none;
}

.fp3 img {
    display: none;
}

/* Header ~ Responsivo */

@media screen and (max-width: 2500px) {
    .nav-bar {
        width: 100%;
    }
    .nav-list {
        width: 60%;  
    }
    .nav-item a {
        
    }
    .nav-icons {
        margin-left: 0;
    }
    .caption-1 h2 {
        width: 100%;
        margin-left: -250px;
        transform: scale(0.9);
    }
    
}

@media screen and (max-width: 730px) {

    header {
        margin-top: -2px;
    }

    nav {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        position: fixed;
        z-index: 1000;
        width: 100%;
    }

    .nav-list{
        z-index: 1000;
        background: #fff;
        width: 100%;
        font-size: 20px;
        position: fixed;
        z-index: 1000;
        margin-top: 0px;
        margin-left: -0px;
    }
    
    .nav-list a {
        text-decoration: none;
        margin-left: 140px;
        margin-top: -20px;

        
    }

    .icons-mobile {
        display: flex ;
        margin-top: 50px;
        margin-left: 150px;
    }

    .icons-mobile a {
        font-size: 20px;
        margin-left: 0;
    }
.icons-mobile i {
    color: #1a1a1a;
    margin-right: 10px;
}
.icons-mobile i:hover {
    color: #D41E25;
}
.icons-mobile i {
    color: #1a1a1a;
}
.fa-brands {
    margin: 20px;
    padding: 15px;
}
.nav-icons {
        display: none;
    }

    .logo {
        margin-bottom: 5px;
        margin-right: 235px;
        margin-top: 10px;
    }

    .nav-bar {
        padding: 0.5rem 4rem;
        display: flex;
        flex-direction: column;
        margin-top: -1px;
        /* margin-right: 300px; */
    }

    .nav-item {
        display: block;
    }

    .mobile-menu-icon {
        display: block;
        margin-top: 10px; /* Adicione margem superior para separar do logo */
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        background: #D41E25;
        border-radius: 5px;
    }
    .nav-list-open {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-bottom: 1rem;
        width: 150%;
    }

    .nav-list-open .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .nav-list-open {
        display: block;
        padding: 1rem 2rem;
        width: 150%;
        margin-right: 150px;
        background: #fff;
    }

    .mobile-menu button {
        width: 100%;
    }

    .nav-list-closed {
        display: none;
    }
    .nav-link {
        font-size: 25px;
        font-family: Jost;
        font-weight: 600;
        margin-left: 50px;
    }
}

/* Hero */



.carousel {

}
.img1 {
    width: 100%;
    height: 90vh;
}
.img2 {
    width: 100%;
    height: 90vh;
}
.img3 {
    width: 100%;
    height: 90vh;
}
.img4 {
    width: 100%;
    height: 90vh;
}
.btn-carousel-1 {
    height: 40px;
    width: 120px;
    margin-top: 200px;
}



/* ========== FormSAC =========== */


/* ========== FormGrande =========== */

.contact-section {
    padding: 20px;
    /* background-image: url('./pages/page05/img/striped-background-k74iuvvk97q6qb4p.jpg'); */
    background: #1A1A1A;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 80%;
    margin: 10%;
    margin-top: -80px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #FFF;
}

.form-input, .form-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-textarea {
    resize: vertical;
    height: 100px;
}

.submit-button {
    padding: 10px 20px;
    background-color: #D41E25;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #a01418;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.social-icon {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #d41E25;
}

/* ========== Formulario =========== */

.form-control {
    font-family: Poppins;
    font-weight: 600;
    font-size: 12px;
}


.contato-h1 {
    font-family: Poppins;
    font-weight: 600;
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
}

.form-container {
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    border: 3px solid #2c2c2cc2;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    background: transparent;
}

.dff {
    color: #ffffff;
    text-shadow: 0 0 6px black;
}


  
.form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-family: Poppins;
}
  
.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #1A1A1A;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.form-container textarea {
    resize: vertical;
    min-height: 100px;
}
  
.form-container button {
    width: 100%;
    padding: 12px;
    background-color: #D41E25;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Poppins;
}
  
.form-container button:hover {
    background-color: #a01418;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  
.social-icons a {
    margin: 0 10px;
    font-size: 25px;
    text-decoration: none;
    margin-bottom: 20px;
    font-family: Poppins;
}
  
.social-icons a i {
  vertical-align: middle;
}

.wsp-ico {
  color: #D41E25;
}

.insta-ico {
  color: #D41E25 ;
}


  /* ========= Footer =========== */

.footer {
    width: 100%;
    height: 300px;
    background: #1a1a1a;
    display: flex;
    color: #ffff;
    border-top: 1px solid rgba(0, 0, 0, 0.126);
}

.fp1 {
    margin-left: 1%;
    margin-top: 1%;
}

.fp1 img {
    width: 200px;
    height: 80px;
    margin: 20px;
}

.fp1 p {
    font-family: Jost;
    font-size: 15px;
    width: 200px;
    margin-left: 20px;
}

.fp2 {
    margin-left: 70px;
    text-decoration: none;
}

.fp2 h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 25px;
    margin-top: 20px;
    color: #fff;
}

.flinks a {
    display: block;
    font-family: Poppins;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
}

.fp3 {
    margin-left: 70px;
    margin-right: -70px;
}

.fp3-title {
    margin-bottom: 20px;
}

.fp3 h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 25px;
    margin-top: 19px;
    color: #fff;
}

.fp3 p {
    color: #545454;
}

.fp4 {
    color: #fff;
    
}

.local {
    display: flex;
    flex-direction: column;
    transform: scale(0.85);
    margin-top: -20px;
    margin-left: -15px;
}

.local a {
    width: 250px;
}

.local h1 {
    font-family: Poppins;
    font-size: 10px;
    margin-top: -10px;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.local p {
    font-family: Poppins;
    font-size: 8px;
    margin-top: -5px;
    color: #ddd;
}

.fp4 {
    margin-left: 10%;
    margin-top: 20px;
}

.fp4-contatos {
    display: block;
    align-items: center; /* Alinha os itens verticalmente ao centro */
    color: #545454;
    margin-top: -25px;
}

.fp4-contatos div {
    margin-right: 20px; /* Espaçamento entre os elementos */
}

.fp4-telefone {
    display: flex;
    margin-top: 20px;
}

.fp4-telefone h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 45px;
    margin-left: 10px;
    color: #fff;
}

.fp4-telefone i {
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
    font-size: 30px;
    margin-top: 10px;
    color: #fff;
}

.fp4-email {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente ao centro */
    width: 350px;
    margin-top: 20px;
    color: #fff;
}

.fp4-email h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    margin-left: 10px;
}

.fp4-email i {
    margin-top: -10px;
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
    font-size: 30px;
}

.fp4-funcionamento {
    display: flex;
    margin-top: 20px;
    color: #fff;
}

.fp4-funcionamento h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 5px;
}

.fp4-funcionamento i {
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
    font-size: 30px;
}

.fp4-icons {
    width: 400px;
    margin-left: -4.5%;
    margin-top: 5%;
    letter-spacing: 30px;
}
.fp4-icons a:hover {
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.644));
}

.fa-brands {
    font-size: 30px;
    margin-left: 20px;
    margin-top: 10px;
    color: #fff;
}

.agencia {
    background-color: #1a1a1a;
    color: #9c9c9c;
    height: 40px;
    text-align: center;
    border-top: 1px solid #5454544d;
}

.link-footer {
    font-size: 25px;
    margin-top: 10px;
    width: 100px;
    margin-left: -17px;
}


.copyright {
    font-size: 14px;
    padding-top: 10px;
    font-family: Poppins;
}


.dark-footer {
    background-color: #fff;
    color: #9c9c9c;
    height: 40px;
    text-align: center;
    
  }  
  .copyright {
    font-size: 14px;
    padding-top: 10px;
  }

  .fp1 p {
    width: 240px;
  }

.local h1:hover{
    filter: drop-shadow(0 0 6px #d41e2485);
    color: #D41E25;
}  
.flinks {
    margin-top: 0px;
}
.flinks a {
    text-decoration: none;
    font-size: 13px;
    width: 150px;
}
.flinks a:hover {
    filter: drop-shadow(0 0 8px #d41e2485);;
}

/* ============== Footer - Responsivo =============== */

@media screen and (max-width: 730px) {

.footer {
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
}

.fp1 {
    display: flex;
    width: 100%;
    margin-left: -10px;
}

.fp1 img {
    display: none;
}

.fp1 p {
    width: 80%;
    margin-top: 20px;
    font-weight: bold;
    margin-left: 40px;
}

.fp2 {
    margin-top: 120px;
    margin-left: -90%;
    display: flex;
    flex-direction: column;
    display: none;
}

.fp3 {
    margin-left: 30px;
}

.fp3 img {
    width: 130px;
    height: 70px;
    margin-top: 0px;
    display: block;
}

.fp4 {
   margin-left: 30px;
}

.fp4-telefone h1 {
    font-size: 35px; 
}

.fp4-email h1 {
    font-size: 14px ;
}

.fp4-funcionamento h1 {
    font-size: 13.5px;
}

.fp4-icons {
    width: 130%;
    margin-top: 0px;
    margin-left: -5px;
    letter-spacing: 5px;
}
.fp4-icons i {
    margin-left: -10px;
    font-size: 35px;
}

.fa-brands {
    margin-left: 4%;
    margin-right: 10px;
}
.local {
    margin-left: -32px;
}
.local h1 {
    font-size: 12px;
}

.form-container {
    width: 80%;
}
.social-icons {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: 40px;
}
.social-icons a {
    font-size: 18px;
}

.agencia {
    height: 50px;
    color: #545454;
}
}

/* BoxContainer */

.box-section {
    width: 100%;
    height: 200px;
    background: white;
    margin-top: 130px;
}

.box-section h1 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 18px;
    width: 900px;
    margin-top: 20px;
    margin-left: 80px;
    color: black;
}

.box-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 80px;
}

.box {
    width: 100px;
    height: 100px;
    background: #D41E25;
    margin-right: 100px;
}

.box img {
    width: 50%;
    margin-top: 25%;
    margin-left: 25%;
}

.iif {
    transform: scale(1.6);
    padding-top: 10px;
}
.iif2 {
    transform: scale(1.5);
    padding-left: 5px;
}
@media screen and (max-width: 730px) {

/* BoxContainer CSS */

.box-section {
    margin-top: 50px;
    width: 100%;
    height: 150px;
}

.box-section h1 {
    font-size: 14px;
    margin-left: 30px;
    width: 90%;
    margin-top: 20px;
}

.box-container {
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

.box {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    margin: 0;
    margin-right: 20px;
    margin-top: -10px;
}
.box img {
    margin-left: 10px;
    margin-top: 10px;
}
.iif {
    padding-top: 7px;
    padding-left: 1px;
}
}
