@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jost:ital,wght@0,100..900;1,100..900&family=Righteous&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');


/* Home */
.hoot {
    overflow: hidden;
    background: #1a1a1a;
}

.carousel {
    width: 80%;
    height: 400px;
    top: 50px;
    margin-left: 140px;
    margin-bottom: 80px;
}

.img1, .img2, .img3 {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

.caption-1 {
    position: absolute;
    top: 50%;
    margin-left: 680px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* cor do texto */
    width: 1200px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}

.caption-1 h2 {
    font-family: Poppins;
    font-weight: bold;
    margin-top: 0px;
    font-size: 70px;
    text-shadow: 0 0 8px black;
}

.caption-1 button {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: rgb(211, 2, 2);
    color: #fff;
    margin-top: 50px;
    font-family: Poppins;
    font-weight: 600;
    /* margin-left: 400px; */
    /* align-items: center; */
}

.caption-2 {
    position: absolute;
    top: 50%;
    margin-left: 680px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* cor do texto */
    width: 1200px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}

.caption-2 h2 {
    font-family: Poppins;
    font-weight: bold;
    margin-top: 0px;
    font-size: 70px;
    text-shadow: 0 0 8px black;
}

.caption-2 button {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: rgb(211, 2, 2);
    color: #fff;
    margin-top: 50px;
    font-family: Poppins;
    font-weight: 600;
    /* margin-left: 400px; */
    align-items: center;
}
.caption-3 {
    position: absolute;
    top: 50%;
    margin-left: 680px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* cor do texto */
    width: 1200px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}

.caption-3 h1 {
    font-family: Poppins;
    font-weight: bold;
    margin-top: 0px;
    font-size: 60px;
    text-shadow: 0 0 8px black;
}

.caption-3 button {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: rgb(211, 2, 2);
    color: #fff;
    margin-top: 50px;
    font-family: Poppins;
    font-weight: 600;
    /* margin-left: 400px; */
    align-items: center;
}


/* Home Respinsivo */
@media screen and (max-width: 730px) {

    
   
    .carousel {
        width: 100%;
        height: 200px;
        margin-top: 4%;
        margin-left: 0;
    }
        
    .img1, .img2, .img3 {
        display: flex;
        width: 100%;
        height: 200px;
        border-radius: 0;
    }

    .caption-1 {
        position: absolute;
        top: 50%;
        margin-left: 7.4%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white; /* cor do texto */
        margin-top: 20px;
        width: 300px;
        height: 140px;
    }
    .caption-1 h2 {
        font-family: Poppins;
        font-size: 22px;
        color: #fff;
        margin-top: 20px;
        margin-left: -30px;
        margin-bottom: 40px;
    }
    .caption-1 button {
        width: 120px;
        height: 40px;
        border-radius: 10px;
        border: none;
        background: rgb(211, 2, 2);
        color: #fff;
        font-size: 17px;
        font-family: Poppins;
        font-weight: 600;
        margin-top: 10px;
        margin-left: 10px;
    }


    .caption-2 {
        position: absolute;
        top: 50%;
        margin-left: 7.4%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white; /* cor do texto */
        margin-top: 20px;
        width: 300px;
        height: 140px;
    }

    .caption-2 h2 {
        font-family: Poppins;
        font-weight: 600;
        font-size: 22px;
        color: #fff;
        margin-top: 30px;
        margin-left: 10px;
    }
    .caption-2 button {
        width: 120px;
        height: 40px;
        border-radius: 10px;
        border: none;
        background: rgb(211, 2, 2);
        color: #fff;
        font-size: 17px;
        font-family: Poppins;
        font-weight: 600;
        margin-top: 10px;
        margin-left: 10px;
    }

    .caption-3 {
        position: absolute;
        top: 50%;
        margin-left: 7.4%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white; /* cor do texto */
        margin-top: 20px;
        width: 300px;
        height: 140px;
    }

    .caption-3 h1 {
        font-family: Poppins;
        font-size: 18px;
        color: #fff;
        margin-top: 20px;
        margin-left: 20px;
    }
    .caption-3 button {
        width: 120px;
        height: 40px;
        border-radius: 10px;
        border: none;
        background: rgb(211, 2, 2);
        color: #fff;
        font-size: 17px;
        font-family: Poppins;
        font-weight: 600;
        margin-top: 10px;
        margin-left: 15px;
    }
    
}

/* Categorias */

.back {
    background-image: url('/src/pages/page01/img/backblack.png');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o elemento */
    background-position: center; /* Centraliza a imagem dentro do elemento */
    height: 2600px;
    z-index: 2;
}

.categorias {
    width: 100%; /* Largura do elemento */
    height: 500px; /* Altura do elemento */
    margin-bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    padding-top: 1300px;
}

.centro {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.title h1 {
    font-family: Jost;
    font-weight: bold;
    font-size: 50px;
    padding-top: 30px;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 8px black;
}

.cards-caption {
    display: flex;
    justify-content: center;
    /* margin-left: 50px; */
}
.card-1 {
    width: 200px;
    height: 400px;
    border: none;
    border-radius: 20px;
    margin: 30px;
    background-image: url('/src/pages/page01/img/card1.png');
    background-size: cover;
    background-position: center;
}


.card-1 h1 {
    font-size: 25px;
    font-family: Jost;
    font-weight: 600;
    text-align: center;
    margin-top: 410px;
}

.card-2 {
    width: 200px;
    height: 400px;
    border: none;
    border-radius: 20px;
    margin: 30px;
    background-image: url('/src/pages/page01/img/card2.png');
    background-size: cover;
    background-position: center;
}



.card-2 h1 {
    font-size: 25px;
    font-family: Jost;
    font-weight: 600;
    text-align: center;
    margin-top: 410px;
}

.card-3 {
    width: 200px;
    height: 400px;
    border: none;
    border-radius: 20px;
    margin: 30px;
    background-image: url('/src/pages/page01/img/card3.png');
    background-size: cover;
    background-position: center;
}



.card-3 h1 {
    font-size: 25px;
    font-family: Jost;
    font-weight: 600;
    text-align: center;
    margin-top: 410px;
}

.card-4 {
    width: 200px;
    height: 400px;
    border: none;
    border-radius: 20px;
    margin: 30px;
    background-image: url('/src/pages/page01/img/card4.png');
    background-size: cover;
    background-position: center;
}



.card-4 h1 {
    font-size: 25px;
    font-family: Jost;
    font-weight: 600;
    text-align: center;
    margin-top: 410px;
}

.card-5 {
    width: 200px;
    height: 400px;
    border: none;
    border-radius: 20px;
    margin: 30px;
    background-image: url('/src/pages/page01/img/card5.png');
    background-size: cover;
    background-position: center;
}



.card-5 h1 {
    font-size: 25px;
    font-family: Jost;
    font-weight: 600;
    text-align: center;
    margin-top: 410px;
}

/* Categorias - Responsivo */

@media screen and ( max-width: 730px ) {

    .hoot {
        overflow: hidden;
    }
    
    .back {
        width: 100%;
        height: 1800px;
    }

    .categorias {
        margin-top: -280px;
    }
        
    .categorias-caption {
        display: flex;
        justify-content: center;
    }
    
    .cards-caption {
        flex-direction: column;
    }
    
    .card-1 {
        width: 300px;
        height: 250px;
        margin-left: 40px;
        background-size: auto;
    }
    
    .card-1 h1 {
        margin-top: 260px;
        font-size: 30px;
    }
    
    
    
    .card-2 {
        width: 300px;
        height: 250px;
        margin-left: 40px;
        background-size: auto;
    }
    
    .card-2 h1 {
        margin-top: 260px;
        font-size: 30px;
    }
    
   
    
    .card-3 {
        width: 300px;
        height: 250px;
        margin-left: 40px;
        background-size: auto;
    }
    
 
    
    .card-3 h1 {
        margin-top: 260px;
        font-size: 30px;
    }
    
    .card-4 {
        width: 300px;
        height: 250px;
        margin-left: 40px;
    }
    
  
    
    .card-4 h1 {
        margin-top: 260px;
        font-size: 30px;
    }
    
    .card-5 {
        width: 300px;
        height: 250px;
        margin-left: 40px;
        background-size: auto;
    }
    
    .card-5 h1 {
        margin-top: 260px;
        font-size: 28px;
    }
    
   
}

/* Container Circular */


.hero {    
    width: 100%; /* Largura do elemento */
    height: 900px; /* Altura do elemento */   
    background-image: url('/src/pages/page01/img/backblack.png');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o elemento */
    background-position: center; /* Centraliza a imagem dentro do elemento */
    background-size: cover;
}
.container {
    position: relative;
    width: 600px; /* Ajuste conforme necessário */
    height: 600px; /* Ajuste conforme necessário */
    margin: 0 auto;
    margin-top: 70px;
  }
  
  .center-image {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .button-container {
    position: absolute;
    width: 220px;
    height: 60px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .button-container:hover {
    transform: scale(1);
  }
  
  .button-container h1 {
    font-size: 20px;
    font-family: Jost;
    font-weight: 600;
    margin: 0;
    margin-left: 10px;
  }
  
  .button-container img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .button-container img:hover {
    transform: scale(1.1);
  }
  
  .description {
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px;
    width: 100%;
    top: 70px;
    z-index: 1000;
    border: 3px solid #d41E25;
  }
  
  /* Positioning for buttons around the circle */
  .button-1 {
    top: 7%;
    left: 30%;
    /* transform: translate(-50%, -50%); */
  }
  
  .button-2 {
    top: 25%;
    left: 80%;
    /* transform: translate(-50%, -50%); */
  }
  
  .button-3 {
    top: 65%;
    left: 80%;
    /* transform: translate(-50%, -50%); */
  }
  
  .button-4 {
    top: 82%;
    left: 31%;
    z-index: 1000;
    /* transform: translate(-50%, -50%); */
  }
  
  .button-5 {
    top: 65%;
    left: -17%;
    /* transform: translate(-50%, -50%); */
  }
  
  .button-6 {
    top: 25%;
    left: -16%;
    /* transform: translate(-50%, -50%); */
  }
  


/* Container Circular - Responsivo */

@media screen and (max-width: 730px) {


.container {
    display: flex;
    top: 250px;
}
.center-image {
    display: none;
}
.button-container {
    justify-content: start;
    margin: 0;
    padding: 0;
    margin-left: 4%;
}
.button-1 h1, .button-2 h1, .button-3 h1, .button-4 h1, .button-5 h1, .button-6 h1 {
    text-align: start;
    margin-left: -8px;
    font-size: 17px;
}
.button-1, .button-2, .button-3, .button-4, .button-5, .button-6 {
    top: 0;
    width: 26%;
    z-index: 1;
}
.description {
    z-index: 1500;
}
.button-1 {
    top: 140px;
    left: 180px;
}
.button-2 {
    left: 180px;
    top: 70px;
}
.button-3 {
    left: 10px;
    top: 140px;
}
.button-4 {
    left: 10px;
    top: 70px;
}
.button-5 {
    left: 180px;
}
.button-6 {
    left: 10px;
    top: 0px;
}
}

/* Missão */


.missao {
    display: flex;
    width: 1100px;
    height: 200px;
    background-image: url('/src/pages/page01/img/img11.png');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o elemento */
    background-position: center; /* Centraliza a imagem dentro do elemento */
    display: flex;
    margin-left: 130px;
    margin-top: 100px;
    border-radius: 20px;
    position: relative; /* Importante para posicionar a sombra */
}

.missao::before {
    content: ""; /* Cria um pseudo-elemento antes do conteúdo */
    position: absolute; /* Posicionamento absoluto em relação ao container pai */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5); /* Cor vermelha com 50% de transparência */
    border-radius: 20px; /* Mesmo raio de borda que o container pai */
    z-index: 1; /* Coloca a sombra acima do conteúdo */
}

.missao-texto {
    text-align: center;
    color: #fff;
    font-family: Jost;
    font-size: 20px;
    width: 800px;
    margin-top: 0px;
    margin-left: 140px;
    position: relative; /* Importante para posicionar o texto acima da sombra */
    z-index: 2; /* Coloca o texto acima da sombra */
}

.missao-texto h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 30px;
    margin-top: 15px;
}

.missao-texto p {
    font-family: Poppins;
    font-weight: 800;
    font-size: 20px;
}

.sombra {
    width: 1100px;
    height: 200px;
    background: black;
}

/* Container Missão - Responsivo */

@media screen and (max-width: 730px) {

.missao {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    margin: 10%;
    margin-top: 50px;
}

.missao-texto {
    margin-left: 0px;
}

.missao-texto p {
    font-size: 15px ;
    font-weight: 600;
    font-family: Poppins;
    width: auto;
    text-align: center;
    margin: 20px;

}

}




