@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jost:ital,wght@0,100..900;1,100..900&family=Righteous&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');


/* Home */
.carousel {
    width: 100%;
    height: 500px;
}
.img1, .img2, .img3 {
    width: 100%;
    height: 500px;
}

.caption-1 {
    position: absolute;
    top: 50%;
    margin-left: 680px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* cor do texto */
    background: rgba(0, 0, 0, 0.541);
    width: 1200px;
    height: 400px;
}

.caption-1 h2 {
    font-family: Poppins;
    font-weight: 600;
    margin-top: 100px;
    font-size: 40px;
}

.caption-1 button {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: rgb(211, 2, 2);
    color: #fff;
    margin-top: 20px;
    font-family: Poppins;
    font-weight: 600;
}

.caption-2 {
    position: absolute;
    top: 50%;
    margin-left: 680px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* cor do texto */
    background: rgba(0, 0, 0, 0.541);
    width: 1200px;
    height: 400px;
}

.caption-2 h1 {
    font-family: Poppins;
    font-weight: 600;
    margin-top: 100px;
}

.caption-2 button {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: rgb(211, 2, 2);
    color: #fff;
    margin-top: 20px;
    font-family: Poppins;
    font-weight: 600;
}
.caption-3 {
    position: absolute;
    top: 50%;
    margin-left: 680px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* cor do texto */
    background: rgba(0, 0, 0, 0.541);
    width: 1200px;
    height: 400px;
}

.caption-3 h1 {
    font-family: Poppins;
    font-weight: 600;
    margin-top: 100px;
}

.caption-3 button {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: rgb(211, 2, 2);
    color: #fff;
    margin-top: 20px;
    font-family: Poppins;
    font-weight: 600;
}


/* Home Respinsivo */
@media screen and (max-width: 730px) {

    
   
    .carousel {
        width: 100%;
        height: 250px;
    }
        
    .img1, .img2, .img3 {
        display: flex;
        width: 100%;
        height: 260px;
    }

    .caption-1 {
        position: absolute;
        top: 50%;
        margin-left: 7.2%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white; /* cor do texto */
        margin-top: 20px;
        width: 300px;
        height: 140px;
        background: rgba(0, 0, 0, 0.541);
    }

    .caption-1 h2 {
        font-family: Poppins;
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 35px;
    }

    .caption-1 button {
        width: 120px;
        height: 40px;
        border-radius: 10px;
        border: none;
        background: rgb(211, 2, 2);
        color: #fff;
        font-size: 17px;
        font-family: Poppins;
        font-weight: 600;
        /* display: none; */
    }

    .caption-2 {
        position: absolute;
        top: 50%;
        margin-left: 7.2%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white; /* cor do texto */
        margin-top: 20px;
        width: 300px;
        height: 140px;
        background: rgba(0, 0, 0, 0.541);
    }

    .caption-2 h1 {
        font-family: Poppins;
        font-size: 20px;
        color: #fff;
        margin-top: 30px;
    }

    .caption-2 button {
        width: 120px;
        height: 40px;
        border-radius: 10px;
        border: none;
        background: rgb(211, 2, 2);
        color: #fff;
        font-size: 17px;
        font-family: Poppins;
        font-weight: 600;
        margin-top: 20px;
    }

    .caption-3 {
        position: absolute;
        top: 50%;
        margin-left: 7.2%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white; /* cor do texto */
        margin-top: 20px;
        width: 300px;
        height: 140px;
        background: rgba(0, 0, 0, 0.541);
    }

    .caption-3 h1 {
        font-family: Poppins;
        font-size: 18px;
        color: #fff;
        margin-top: 30px;
    }
    .caption-3 button {
        width: 120px;
        height: 40px;
        border-radius: 10px;
        border: none;
        background: rgb(211, 2, 2);
        color: #fff;
        font-size: 17px;
        font-family: Poppins;
        font-weight: 600;
        margin-top: 20px;
    }
}

/* Categorias */

.back {
    background-image: url('/src/pages/page01/img/back.png');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o elemento */
    background-position: center; /* Centraliza a imagem dentro do elemento */
}

.categorias {
    width: 100%; /* Largura do elemento */
    height: 100vh; /* Altura do elemento */
}

.title h1 {
    font-family: Jost;
    font-weight: 600;
    font-size: 30px;
    padding-top: 30px;
    text-align: center;
}

.cards-caption {
    display: flex;
    justify-content: center;
    /* margin-left: 50px; */
}
.card-1 {
    width: 200px;
    height: 400px;
    border: none;
    border-radius: 20px;
    margin: 30px;
    background-image: url('/src/pages/page01/img/card1.png');
    background-size: cover;
    background-position: center;
}


.card-1 h1 {
    font-size: 25px;
    font-family: Jost;
    font-weight: 600;
    text-align: center;
    margin-top: 410px;
}

.card-2 {
    width: 200px;
    height: 400px;
    border: none;
    border-radius: 20px;
    margin: 30px;
    background-image: url('/src/pages/page01/img/card2.png');
    background-size: cover;
    background-position: center;
}



.card-2 h1 {
    font-size: 25px;
    font-family: Jost;
    font-weight: 600;
    text-align: center;
    margin-top: 410px;
}

.card-3 {
    width: 200px;
    height: 400px;
    border: none;
    border-radius: 20px;
    margin: 30px;
    background-image: url('/src/pages/page01/img/card3.png');
    background-size: cover;
    background-position: center;
}



.card-3 h1 {
    font-size: 25px;
    font-family: Jost;
    font-weight: 600;
    text-align: center;
    margin-top: 410px;
}

.card-4 {
    width: 200px;
    height: 400px;
    border: none;
    border-radius: 20px;
    margin: 30px;
    background-image: url('/src/pages/page01/img/card4.png');
    background-size: cover;
    background-position: center;
}



.card-4 h1 {
    font-size: 25px;
    font-family: Jost;
    font-weight: 600;
    text-align: center;
    margin-top: 410px;
}

.card-5 {
    width: 200px;
    height: 400px;
    border: none;
    border-radius: 20px;
    margin: 30px;
    background-image: url('/src/pages/page01/img/card5.png');
    background-size: cover;
    background-position: center;
}



.card-5 h1 {
    font-size: 25px;
    font-family: Jost;
    font-weight: 600;
    text-align: center;
    margin-top: 410px;
}

/* Categorias - Responsivo */

@media screen and ( max-width: 730px ) {

    .hoot {
        overflow: hidden;
    }
    
    .back {
        width: 100%;
        height: 2650px;
    }
        
    .categorias-caption {
        display: flex;
        justify-content: center;
    }
    
    .cards-caption {
        flex-direction: column;
    }
    
    .card-1 {
        width: 300px;
        height: 250px;
        margin-left: 40px;
        background-size: auto;
    }
    
    .card-1 h1 {
        margin-top: 260px;
        font-size: 30px;
    }
    
    
    
    .card-2 {
        width: 300px;
        height: 250px;
        margin-left: 40px;
        background-size: auto;
    }
    
    .card-2 h1 {
        margin-top: 260px;
        font-size: 30px;
    }
    
   
    
    .card-3 {
        width: 300px;
        height: 250px;
        margin-left: 40px;
        background-size: auto;
    }
    
 
    
    .card-3 h1 {
        margin-top: 260px;
        font-size: 30px;
    }
    
    .card-4 {
        width: 300px;
        height: 250px;
        margin-left: 40px;
    }
    
  
    
    .card-4 h1 {
        margin-top: 260px;
        font-size: 30px;
    }
    
    .card-5 {
        width: 300px;
        height: 250px;
        margin-left: 40px;
        background-size: auto;
    }
    
    .card-5 h1 {
        margin-top: 260px;
        font-size: 28px;
    }
    
   
}

/* Container Circular */

.hero {
    
    width: 100%; /* Largura do elemento */
    height: 900px; /* Altura do elemento */
}

.container {
    margin-top: 200px;
    display: flex;
    margin-left: 10%;
}

.coluna-1 {
    margin-left: -680px;
    margin-top: -0px;
}
.div1 {
    margin-left: 50px;
}

.div1 h1 {
    font-size: 25px;
    margin-left: 30px;
    font-family: Jost;
    font-weight: 600;
}

.div1 img {
    width: 150px;
    height: 150px;
    margin-top: -110px;
    margin-left: 150px;
}

.div2 {
    margin-top: 150px;
    margin-left: -50px;
}

.div2 h1 {
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    font-family: Jost;
    font-weight: 600;
}

.div2 img {
    width: 150px;
    height: 150px;
    margin-top: -95px;
    margin-left: 160px;
}

.div3 {
    margin-top: 150px;
    margin-left: 50px;
}
.div3 h1 {
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    font-family: Jost;
    font-weight: 600;
    margin-right: 20px;
}
.div3 img {
    width: 150px;
    height: 150px;
    margin-top: -98px;
    margin-left: 165px;
}

.coluna-2 {
    margin-left: 550px;
    margin-top: 10px;
}

.div4 {
    margin-left: -240px;    
}
.div4 h1 {
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    font-family: Jost;
    font-weight: 600;
    margin-left: 20px;
}
.div4 img {
    width: 150px;
    height: 150px;
    margin-top: -98px;
    margin-left: -80px;
}

.div5 {
    margin-top: 150px;
    margin-left: -140px;
}
.div5 h1 {
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    font-family: Jost;
    font-weight: 600;
}
.div5 img {
    width: 150px;
    height: 150px;
    margin-top: -98px;
    margin-left: -85px;
}

.div6 {
    margin-top: 150px;
    margin-left: -230px;
}
.div6 h1 {
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    font-family: Jost;
    font-weight: 600;
}
.div6 img {
    width: 150px;
    height: 150px;
    margin-top: -98px;
    margin-left: -100px; 
}
.center-image {
    border-radius: 50%;
    width: 500px;
    height: 500px;
    display: flex;
    margin-left: 280px;
}

.div1, .div2, .div3, .div4, .div5, .div6 {
    width: 220px;
    height: 60px;
    background: #fff;
    border-radius: 20px;   
}



/* Container Circular - Responsivo */

@media screen and (max-width: 730px) {



.hero {
    width: 100%;
}

.container {
    /* margin-left: 20px; */
    display: flex;
    justify-content: center;
    width: 60%;
    margin-top: 250%;
}

.center-image {
    display: none;
}

.coluna-1 {
    margin-left: -20px;
}

.div1 {
    margin-left: 50px;
    width: 120px;
}

.div1 h1 {
    font-size: 14px;
    margin-left: 15px;
    padding-top: 10px;
    font-family: Jost;
    font-weight: 600;
}

.div1 img {
    width: 100px;
    height: 100px;
    margin-top: -70px;
    margin-left: 75px;
}

.div2 {
    margin-left: 50px;
    width: 120px;
    margin-top: 50px;
}

.div2 h1 {
    font-size: 15px;
    padding-top: 20px;
    font-family: Jost;
    font-weight: 600;
    margin-right: 5px;
}

.div2 img {
    width: 100px;
    height: 100px;
    margin-top: -65px;
    margin-left: 75px;
}

.div3 {
    margin-left: 50px;
    width: 120px;
    margin-top: 50px;
}

.div3 h1 {
    font-size: 14px;
    padding-top: 20px;
    font-family: Jost;
    font-weight: 600;
    margin-left: 5px;
    width: 80px;
}

.div3 img {
    width: 100px;
    height: 100px;
    margin-top: -65px;
    margin-left: 75px;
}

.coluna-2 {
    margin-left: 10px;
    margin-top: -2px;
}

.div4 {
    margin-left: 50px;
    width: 120px;
}

.div4 h1 {
    font-size: 14px;
    margin-left: -20px;
    padding-top: 20px;
    font-family: Jost;
    font-weight: 600;
}

.div4 img {
    width: 100px;
    height: 100px;
    margin-top: -65px;
    margin-left: 75px;
}

.div5 {
    margin-left: 50px;
    width: 120px;
    margin-top: 50px;
}

.div5 h1 {
    font-size: 15px;
    padding-top: 20px;
    font-family: Jost;
    font-weight: 600;
    margin-right: 5px;
}

.div5 img {
    width: 100px;
    height: 100px;
    margin-top: -65px;
    margin-left: 75px;
}

.div6 {
    margin-left: 50px;
    width: 120px;
    margin-top: 50px;
}

.div6 h1 {
    font-size: 15px;
    padding-top: 20px;
    font-family: Jost;
    font-weight: 600;
    margin-left: 15px;
    width: 80px;
}

.div6 img {
    width: 100px;
    height: 100px;
    margin-top: -65px;
    margin-left: 75px;
}
}

/* Missão */


.missao {
    display: flex;
    width: 1100px;
    height: 200px;
    background-image: url('/src/pages/page01/img/img11.png');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o elemento */
    background-position: center; /* Centraliza a imagem dentro do elemento */
    display: flex;
    margin-left: 130px;
    margin-top: 100px;
    border-radius: 20px;
    position: relative; /* Importante para posicionar a sombra */
}

.missao::before {
    content: ""; /* Cria um pseudo-elemento antes do conteúdo */
    position: absolute; /* Posicionamento absoluto em relação ao container pai */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5); /* Cor vermelha com 50% de transparência */
    border-radius: 20px; /* Mesmo raio de borda que o container pai */
    z-index: 1; /* Coloca a sombra acima do conteúdo */
}

.missao-texto {
    text-align: center;
    color: #fff;
    font-family: Jost;
    font-size: 20px;
    width: 800px;
    margin-top: 0px;
    margin-left: 140px;
    position: relative; /* Importante para posicionar o texto acima da sombra */
    z-index: 2; /* Coloca o texto acima da sombra */
}

.missao-texto h1 {
    font-family: Jost;
    font-weight: 600;
    font-size: 30px;
    margin-top: 15px;
}

.missao-texto p {
    font-family: Jost;
    font-weight: 400;
    font-size: 18px;
}

.sombra {
    width: 1100px;
    height: 200px;
    background: black;
}

/* Container Missão - Responsivo */

@media screen and (max-width: 730px) {

.missao {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    margin: 10%;
    margin-top: 120px;
}

.missao-texto {
    margin-left: 0px;
}

.missao-texto p {
    font-size: 13px ;
    width: auto;
    text-align: center;
    margin: 20px;

}

}